services:
  mongo:
    restart: always
    image: mongo:8.0
    ports:
      - "${MONGODB_PORT:-27017}:27017"
    volumes:
      - "${PROJECT_LOCATION}/${MONGO_NAME:-mongodb}:/data/db"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGODB_USER:-root}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGODB_PASSWORD:-pass}
    labels:
      - com.centurylinklabs.watchtower.enable=true

  lulu:
    depends_on:
      - mongo
    build:
      context: .
      dockerfile: Dockerfile
      args:
        COMMIT_HASH: ${COMMIT_HASH}
        PROJECT_LOCATION: ${PROJECT_LOCATION}
      no_cache: true
      pull: false
    runtime: nvidia
    restart: always
    ports:
      - "${LULU_PORT:-3005}:3000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    volumes:
      - "/root/.cache/huggingface/:/root/.cache/huggingface/"
      - "${PROJECT_LOCATION}/client_secret.json:/app/client_secret.json"
      - "${PROJECT_LOCATION}/storage.json:/app/storage.json"
      - "${PROJECT_LOCATION}/twitter.yaml:/app/twitter.yaml"
      - "${PROJECT_LOCATION}/winners.json:/app/winners.json"
      - "${PROJECT_LOCATION}/cookies.json:/app/cookies.json"
