services:
  mongo:
    restart: always
    image: mongo:8.0
    ports:
      - "${MONGODB_PORT:-27017}:27017"
    volumes:
      - type: bind
        source: ${PROJECT_LOCATION}/${MONGO_NAME:-mongodb}
        target: /data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGODB_USER:-root}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGODB_PASSWORD:-pass}
    labels:
      - com.centurylinklabs.watchtower.enable=true
  lulu:
    depends_on:
      - mongo
    build:
      no_cache: true
      pull: false
      context: .
      dockerfile: Dockerfile
      args:
        COMMIT_HASH: ${COMMIT_HASH}
        PROJECT_LOCATION: ${PROJECT_LOCATION}
    runtime: nvidia
    restart: always
    ports:
      - "${LULU_PORT:-3005}:3000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    volumes:
      - "/root/.cache/huggingface/:/root/.cache/huggingface/"
      - type: bind
        source: ${PROJECT_LOCATION}/client_secret.json
        target: /app/client_secret.json
      - type: bind
        source: ${PROJECT_LOCATION}/storage.json
        target: /app/storage.json
      - type: bind
        source: ${PROJECT_LOCATION}/twitter.yaml
        target: /app/twitter.yaml
      - type: bind
        source: ${PROJECT_LOCATION}/winners.json
        target: /app/winners.json
      - type: bind
        source: ${PROJECT_LOCATION}/cookies.json
        target: /app/cookies.json
